button{
    background: none;
    border: none;
    height: 50px;
    margin-right: 1%;
}

button:hover{
    background-color: rgb(126, 180, 119);
}

.toolbar{
    display: flex;
    text-align: center;
}